
.current-work {
  background-color: #fff;
  padding: 40px 0 66px 0;
  max-width: 1008px;
  margin: 0 auto;


  h2 {
    text-align: center;
    color: black;
    font-size: 32px;
  }


}






.text-content {
  @media only screen and (max-width: 500px) {
    text-align: center;
  }
}






