<main>
  <section class="header">
    <h1>
      Jose = Front End Developer
    </h1>
    <h2 class="typewriter">
      <i class="fa fa-coffee" aria-hidden="true"></i>++ = Great User Interfaces
    </h2>
  </section>


  <section class="current-work" style="height:600px">
    <h2>Current Work</h2>


    <div class="UTSW ui-g">
      <div class="ui-g-12 ui-md-6 ui-lg-6">
        <h3>UTSouthwestern</h3>
        <p>Front End Developer</p>
        <p>I am a part of the Development team at UTSouthwestern where I use HTML, SCSS, JavaScript and jQuery to build to Front End for the following sites</p>
      </div>
    </div>


    <p-carousel [value]="items" numVisible="1">
      <ng-template let-item pTemplate="item">
        <div class="ui-g">
          <div class="ui-lg-4 text">
            {{item.text}}
          </div>
          <div class="ui-lg-8">
            <img src="{{item.image}}" alt="">
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </section>
</main>

